body {
    font-family: 'Courier New';
    font-size: 20px;
    text-align: center;
}

form {
    width: 300px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

label {
    font-family: 'Courier New';
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
}

input {
    font-family: 'Courier New';
    font-size: 20px;
    margin-bottom: 10px;
    padding: 5px;
    width: calc(100% - 20px);
}

#addStudentBtn,
#addLibraryVisitBtn,
#showStudentHoursBtn {
    font-family: 'Courier New';font-size: 18px;
    color: white;
    background-color: #4caf50;
    padding: 10px; margin-top: 10px;
    border: none; border-radius: 4px;
    cursor: pointer;
    width: calc(100% - 7.5px);
    display: inline-block;
}

#addStudentBtn,
#addLibraryVisitBtn,
#showStudentHoursBtn :hover {
    background-color: #45a049;
}

#result {
    font-size: 24px;
    margin-top: 20px;
}

#result-table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    width: 50%;
    border: 2px solid #ccc;
}

#result-table th, #result-table td {
    border: 1px solid #ccc;
    padding: 8px;
}